@foreach(Pizza pizza in Order.Pizzas)
{
    <p><strong>@pizza.Size cm @pizza.Special.Name (@pizza.GetFormattedTotalPrice())</strong></p>
    <ul>
        @foreach(Topping topping in pizza.Toppings)
        {
            <li>+ @topping.Name</li>
        }
    </ul>
}
<p>
    <strong>
        Precio total: @Order.GetFormatedTotalPrice()
    </strong>
</p>